[profile.default]
src = 'src'
out = 'out'
libs = ['lib']



rpc_endpoints = {mainnet="https://eth.llamarpc.com",eth="https://eth.llamarpc.com", bsc="https://binance.llamarpc.com", poly="https://polygon-rpc.com", polygon="https://polygon-rpc.com", arbitrum="https://arbitrum.meowrpc.com", avalanche="https://api.avax.network/ext/bc/C/rpc", Avalanche="https://api.avax.network/ext/bc/C/rpc", fantom="https://rpc.fantom.network", optimism="https://mainnet.optimism.io", gnosis = "https://rpc.gnosischain.com/", base="https://mainnet.base.org"}

[fmt]
line_length = 120
tab_width = 4
bracket_spacing=false
int_types = "long"
func_attrs_with_params_multiline = false
quote_style = "double"
number_underscore = "thousands"
multiline_func_header = "params_first"
single_line_statement_blocks = 'preserve'
variable_override_spacing = true
wrap_comments = false
ignore = []